* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(90deg, #a855f7, #22d3ee);

  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}

section {
  position: relative;
}

h2 {
  font-weight: 700;
}