* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  transform: translateY(-2px);
}